body{
  background-color: #000000;
}

.logo{
  font-family: 'Bitter', serif;
  color: #FFE521;
  font-size: 2rem;
  margin-top: 2vh;
}

p{
  font-family: 'Bitter', serif;
  color: #FFE521;
  font-size: 1rem;
  margin: 2vh;
}
/* header{
  background-color: red;
} */

#mapa {
   height: 40vh;
   width: 70%;
   background-color: grey;
 }

input{
  width: 70%;
}

img{
  height: 20vw;
  width: 20vw;
  margin: 2vh;
}

.photos{
  /* background-color: red; */
  height: 30vh;
  width: 73vw;
}
/* hr{
  height: 10px;
  border: none;
} */
